spring.application.name=jasper-webserver
security.api-key=your_api_key_here
web.youtube.api.key=your_api_key_here
web.youtube.api.key.two=your_api_key_two_here
web.youtube.api.key.three=your_api_key_three_here
