spring.application.name=jasper-webserver

# Hikari Connection Pool Configuration
spring.datasource.hikari.maximum-pool-size=
spring.datasource.hikari.minimum-idle=
spring.datasource.hikari.idle-timeout=
spring.datasource.hikari.connection-timeout=
spring.datasource.hikari.max-lifetime=
spring.datasource.hikari.auto-commit=
spring.datasource.hikari.connection-test-query=

security.api-key=your_api_key_here
web.youtube.api.key=your_api_key_here
web.youtube.api.key.two=your_api_key_here
web.youtube.api.key.three=your_api_key_here
